<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] &middot; One Travel</title>
    <meta name="description" content="admin oneoffice" />
    <meta name="keywords" content="oneoffice.com.vn" />
    <meta name="author" content="oneoffice" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/theme/logo.ico")">
    <link rel="icon" href="@Url.Content("~/theme/logo.ico")" type="image/x-icon">
    <!-- Data table CSS -->
    <link href="@Url.Content("~/theme/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/lib/sweetalert/dist/sweetalert.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- bootstrap-touchspin CSS -->
    <!-- multi-select CSS -->
    <!-- bootstrap-tagsinput CSS -->
    <!-- select2 CSS -->

    <link href="@Url.Content("~/theme/vendors/bower_components/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/theme/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/theme/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/theme/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css")" rel="stylesheet" type="text/css">
    <!-- Bootstrap Datetimepicker CSS -->
    <link href="@Url.Content("~/theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Daterangepicker CSS -->
    <link href="@Url.Content("~/theme/vendors/bower_components/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Ion.RangeSlider -->
    <link href="@Url.Content("~/theme/vendors/bower_components/ion.rangeSlider/css/ion.rangeSlider.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/theme/vendors/bower_components/morris.js/morris.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/fastselect/dist/fastselect.css")" />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/theme/dist/css/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/theme/dist/css/oneoffice-main.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="alert" data-val="@TempData["IsAlert"]"></div>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader -->
    <!--slide-nav-toggle-->
    <div class="wrapper theme-1-active slide-nav-toggle box-layout pimary-color-green">
        <!-- Top Menu Items -->
        @{Html.RenderPartial("/Areas/OneOperator/Views/Partials/_TopMenuPartial.cshtml");}
        <!-- /Top Menu Items -->
        <!-- Left Sidebar Menu -->
        @{Html.RenderPartial("/Areas/OneOperator/Views/Partials/_LeftSidebarMenuPartial.cshtml");}
        <!-- /Left Sidebar Menu -->
        <!-- Right Sidebar Menu -->
        @{Html.RenderPartial("/Areas/OneOperator/Views/Partials/_RightSidebarMenuPartial.cshtml");}
        <!-- /Right Sidebar Menu -->
        <!-- Right Sidebar Backdrop -->
        <div class="right-sidebar-backdrop"></div>
        <!-- /Right Sidebar Backdrop -->
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderSection("PageTitle", required: false)

                @RenderBody()

                <!-- Footer -->
                @{Html.RenderPartial("/Areas/OneOperator/Views/Partials/_FooterPartial.cshtml");}
                <!-- /Footer -->
            </div>
        </div>
        <!-- /Main Content -->
    </div>
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="@Url.Content("~/theme/vendors/bower_components/jquery/dist/jquery.min.js")"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js")"></script>

    <!-- Sticky -->
    <script src="@Url.Content("~/js/jquery.sticky.js")"></script>

    <!-- CkEditor -->
    <!-- <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script> -->

    <!-- Data table JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/js/dataTable-base.js")"></script>

    <script src="@Url.Content("~/theme/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/jszip/dist/jszip.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/pdfmake/build/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/pdfmake/build/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js")"></script>

    <!-- Slimscroll JavaScript -->
    <script src="@Url.Content("~/theme/dist/js/jquery.slimscroll.js")"></script>

    <!-- Owl JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js")"></script>
    <!-- Moment JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/theme/vendors/bower_components/moment/min/moment-with-locales.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/moment/locale/vi.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/theme/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/lib/sweetalert/dist/sweetalert.min.js")"></script>

    <!-- Select2 JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/select2/dist/js/select2.full.min.js")"></script>

    <!-- Bootstrap Tagsinput JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js")"></script>

    <!-- Bootstrap Touchspin JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js")"></script>

    <!-- Switchery JavaScript -->
    <script src="@Url.Content("~/theme/vendors/bower_components/switchery/dist/switchery.min.js")"></script>

    <!-- Fancy Dropdown JS -->
    <script src="@Url.Content("~/theme/dist/js/dropdown-bootstrap-extended.js")"></script>

    <script src="@Url.Content("~/lib/fastsearch/dist/fastsearch.js")"></script>
    <script src="@Url.Content("~/lib/fastselect/dist/fastselect.js")"></script>

    <!-- Ion.RangeSlider -->
    <script src="@Url.Content("~/theme/vendors/bower_components/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/theme/vendors/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js")"></script>

    <!-- Init JavaScript -->
    <script src="@Url.Content("~/theme/dist/js/init.js")"></script>

    <script src="@Url.Content("~/js/site.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
