@using OneTravelCMS.Core
@model OneTravelCMS.Areas.OneOperator.Models.PartnerViewModel
@{
    ViewData["Title"] = "Đối tác";
}

@section PageTitle
    {
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewData["Title"]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-area="OneOperator" asp-controller="Partner" asp-action="Index"><span>@ViewData["Title"]</span></a></li>
                <li class="active"><span>@(Model.Action.ToLower() == "Update".ToLower() ? "Cập nhật" : "Thêm mới")</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

}

<div class="col-sm-12">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <error msg="@ViewBag.ErrorMsg"></error>
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Thông tin đối tác</h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="form-wrap">
                    <form action="/OneOperator/Partner/@Model.Action" data-val="@Model.Action" method="post" id="form">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />
                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="PartnerName"></label>
                            <input asp-for="PartnerName" type="text" class="form-control">
                            <span asp-validation-for="PartnerName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="TaxCode"></label>
                            <input asp-for="TaxCode" type="text" class="form-control">
                            <span asp-validation-for="TaxCode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="IdGroupPartner"></label>
                            <select asp-for="IdGroupPartner" asp-items="@Model.PartnerGroups" class="form-control"></select>
                            <span asp-validation-for="IdGroupPartner" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="Telephone"></label>
                            <input asp-for="Telephone" type="tel" class="form-control">
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="Email"></label>
                            <input asp-for="Email" type="email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="Address"></label>
                            <input asp-for="Address" type="text" class="form-control">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="Website"></label>
                            <input asp-for="Website" type="url" class="form-control">
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label mb-10" asp-for="Summary"></label>
                            <textarea asp-for="Summary" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Summary" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input id="IsActive" asp-for="IsActive" type="checkbox">
                                <label class="checkbox-inline" asp-for="IsActive"></label>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="table-responsive">
                                    Nhân viên liên hệ <a href="javascript:void(0)" 
                                                         data-partner="@Model.Id"
                                                         class="ml-20 btn btn-success btn-sm add-partner-contact">Thêm liên hệ</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Vị trí</th>
                                                <th>Điện thoại</th>
                                                <th>Email</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody id="partnerContactBody">
                                            @foreach (var item in Model.PartnerContacts)
                                            {
                                                <tr>
                                                    <td class="contactName_@item.Id">@item.ContactName</td>
                                                    <td class="positionTitle_@item.Id">@item.PositionTitle</td>
                                                    <td class="mobile_@item.Id"><a href="tel:@item.Mobile">@item.Mobile</a></td>
                                                    <td class="email_@item.Id"><a href="mailto:@item.Email">@item.Email</a></td>
                                                    <td>
                                                        <a class="table-edit" href="javascript:void(0)"
                                                           data-partner="@item.IdPartner"
                                                           data-id="@item.Id">
                                                            <i class="fa fa-edit text-success"></i> Sửa
                                                        </a>
                                                        | <a class="table-delete" data-controller="PartnerContact"
                                                             href="javascript:void(0)"
                                                             data-id="@item.Id">
                                                            <i class="fa fa-trash text-danger"></i> Xóa
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <button type="submit" name="saveCommand" value="@Constants.SaveContinute" class="btn btn-success btn-anim"><i class="fa fa-check"></i><span class="btn-text">Lưu và Tiếp tục</span></button>
                            <button type="submit" name="saveCommand" value="@Constants.Save" class="btn btn-warning btn-anim"><i class="fa fa-sign-out"></i><span class="btn-text">Lưu và Thoát</span></button>
                            <a asp-area="OneOperator" class="btn btn-danger" asp-controller="Partner" asp-action="Index">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("/Areas/OneOperator/Views/Partials/PartnerContactForm.cshtml")
@section scripts
    {
    <script src="~/js/controllers/partnerForm.js"></script>
}
