@using OneTravelCMS.Core
@model OneTravelCMS.Areas.OneOperator.Models.TravelRequestViewModel
@{
    ViewData["Title"] = "Quản lý yêu cầu";
}

@section PageTitle
    {
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3  col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewData["Title"]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-area="OneOperator" asp-controller="TravelRequest" asp-action="Index"><span>@ViewData["Title"]</span></a></li>
                <li class="active"><span>@(Model.Action.ToLower() == "Update".ToLower() ? "Cập nhật" : "Thêm mới")</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

}
<div class="col-sm-12">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <error msg="@ViewBag.ErrorMsg"></error>
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Thông tin bảng giá</h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="form-wrap">
                    <form action="/OneOperator/TravelRequest/@Model.Action" data-val="@Model.Action" method="post" id="form">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="RequestCode"></label>
                                    <input autofocus asp-for="RequestCode" type="text" class="form-control ">
                                    <span asp-validation-for="RequestCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="RequestName"></label>
                                    <input asp-for="RequestName" type="text" class="form-control ">
                                    <span asp-validation-for="RequestName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="UpdateDate" class="control-label mb-10"></label>
                                    <div class="input-group date" id="datetimepicker">

                                        <input type="text" onkeydown="return false" asp-for="UpdateDate" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IdCategoryRequest" class="control-label mb-10"></label>
                                    <select class="form-control select2" asp-for="IdCategoryRequest" asp-items="Model.CategoryRequestList"> </select>
                                    <span asp-validation-for="IdCategoryRequest" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IdCategoryRequestStatus" class="control-label mb-10"></label>
                                    <select class="form-control select2" asp-for="IdCategoryRequestStatus" asp-items="Model.CategoryRequestStatusList"> </select>
                                    <span asp-validation-for="IdCategoryRequestStatus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="RequestByPartner" class="control-label mb-10"></label>
                                    <select class="form-control select2 partner" asp-for="RequestByPartner" asp-items="Model.PartnerList"></select>
                                    <span asp-validation-for="RequestByPartner" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="RequestByPartnerContact" class="control-label mb-10"></label>
                                    <select class="form-control select2" id="partnerContact" asp-for="RequestByPartnerContact" asp-items="Model.PartnerContactList"></select>
                                    <span asp-validation-for="RequestByPartnerContact" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="GuestName"></label>
                                    <input asp-for="GuestName" type="text" class="form-control ">
                                    <span asp-validation-for="GuestName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="GuestMobile"></label>
                                    <input asp-for="GuestMobile" type="tel" class="form-control ">
                                    <span asp-validation-for="GuestMobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="GuestEmail"></label>
                                    <input asp-for="GuestEmail" type="email" class="form-control ">
                                    <span asp-validation-for="GuestEmail" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="RequestInfo"></label>
                                    <textarea asp-for="RequestInfo" rows="6" class="form-control"></textarea>
                                    <span asp-validation-for="RequestInfo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <div class="checkbox checkbox-success checkbox-inline">
                                        <input id="IsActive" asp-for="IsActive" type="checkbox">
                                        <label class="checkbox-inline" asp-for="IsActive"></label>
                                    </div>
                                </div>

                                <div class="form-group mb-0">
                                    <button type="submit" name="saveCommand" value="@Constants.Save" class="btn btn-primary btn-anim"><i class="fa fa-save"></i><span class="btn-text">@Constants.SaveContinuteMsg</span></button>
                                    <button type="submit" name="saveCommand" value="@Constants.SaveAndCreate" class="btn btn-success btn-anim"><i class="fa fa-check"></i><span class="btn-text">@Constants.SaveAndCreateMsg</span></button>
                                    <a asp-area="OneOperator" class="btn btn-danger" asp-controller="TravelRequest" asp-action="Index">Hủy</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        $(".partner").on("change",
            function() {
                const partnerId = $(this).val();
                $.ajax({
                    url: "/OneOperator/TravelRequest/PartnerContactList",
                    type: "get",
                    data: { partnerId: partnerId },
                    success: function (res) {
                        let html = "";
                        $.each(res.data,
                            function(i, item) {
                                const newOption = new Option(item.contactName, item.id, false, false);
                                console.log(newOption.outerHTML);
                                html += newOption.outerHTML;
                            });
                        $("#partnerContact").html(html).trigger('change');
                    },
                    error: function (res) {
                        swal("Opps!", "Đã xảy ra lỗi trong quá trình thực thi yêu cầu.", "error");
                    }
                });
            });
    </script>
}
