@using OneTravelCMS.Core

<li class="dropdown">
    <!-- Single button -->
    <button class="btn btn-primary dropdown-toggle" style="margin-top: 14px" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        One Travel
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
        @if (User.IsInRole("admin"))
        {
            <li class="li-area">
                <a class="populate-menu"
                   data-area="@Constants.OneOperatorArea"
                   data-role="@Constants.AdminRoleCode"
                   href="javascript:void(0)">Điều hành Tour</a>
            </li>
            <li class="li-area">
                <a class="populate-menu"
                   data-area="@Constants.OneReportArea"
                   data-role="@Constants.AdminRoleCode"
                   href="javascript:void(0)">Báo cáo</a>
            </li>
        }
        else
        {
            <li class="li-area">
                <a class="populate-menu"
                   data-area="@Constants.OneOperatorArea"
                   data-role="@Constants.AccountingRoleCode"
                   href="javascript:void(0)">Điều hành Tour</a>
            </li>
        }
    </ul>
</li>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(".populate-menu").on("click",
        function (e) {
            const link = $(e.target);
            const areaCode = link.data("area");
            const roleCode = link.data("role");
            
            $.ajax({
                url: `/Home/PopulateTopNavbarData?areaCode=${areaCode}&roleCode=${roleCode}`,
                type: "get",
                success: function (data) {
                    const li = link.parent().addClass("active");
                    const liParent = li.parent().parent();
                    const button = liParent.find("button");
                    button.removeClass("btn-primary").addClass("btn-success");

                    $.each($(".li-area"),
                        function (i, el) {
                            if (!link.parent().is(el)) {
                                el.classList.remove("active");
                            }
                        });

                    $("#result").html(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
</script>