@using OneTravelCMS.Core
@model OneTravelCMS.Areas.OneOperator.Models.CategoryBookingStatusViewModel
@{
    ViewData["Title"] = "Tình trạng Booking";
}

@section PageTitle
    {
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewData["Title"]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-area="OneOperator" asp-controller="CategoryBookingStatus" asp-action="Index"><span>@ViewData["Title"]</span></a></li>
                <li class="active"><span>@(Model.Action.ToLower() == "Update".ToLower() ? "Cập nhật" : "Thêm mới")</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

}

<div class="col-sm-12">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <error msg="@ViewBag.ErrorMsg"></error>
            <div class="pull-left">
                <h6 class="panel-title txt-dark">Thông tin cơ bản</h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="form-wrap">
                    <form action="/OneOperator/CategoryBookingStatus/@Model.Action" data-val="@Model.Action" method="post" id="form">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="BookingStatusCode"></label>
                                    <input asp-for="BookingStatusCode" type="text" class="form-control">
                                    <span asp-validation-for="BookingStatusCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="BookingStatusName"></label>
                                    <input asp-for="BookingStatusName" type="text" class="form-control">
                                    <span asp-validation-for="BookingStatusName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label mb-10" asp-for="Position"></label>
                                    <input asp-for="Position" type="number" class="form-control">
                                    <span asp-validation-for="Position" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input id="IsActive" asp-for="IsActive" type="checkbox">
                                <label class="checkbox-inline" asp-for="IsActive"></label>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <button type="submit" name="saveCommand" value="@Constants.SaveAndCreate" class="btn btn-default btn-anim"><i class="fa fa-check"></i><span class="btn-text">Lưu và Thêm mới</span></button>
                            <button type="submit" name="saveCommand" value="@Constants.SaveContinute" class="btn btn-success btn-anim"><i class="fa fa-check"></i><span class="btn-text">Lưu và Cập nhật</span></button>
                            <button type="submit" name="saveCommand" value="@Constants.Save" class="btn btn-warning btn-anim"><i class="fa fa-sign-out"></i><span class="btn-text">Lưu và Thoát</span></button>
                            <a asp-area="OneOperator" class="btn btn-danger" asp-controller="CategoryBookingStatus" asp-action="Index">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
